* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /*align-items: center; /* Centra verticalmente */
}

.calculator {
    padding: 15px;
    background-color: gray;
    border-radius: 10px;

}

table {
    border-collapse: collapse;
}

table td {
    padding: 2px;
}

.result input {
    height: 100px;
    border-radius: 10px;
    font-size: 24px;
}

/* Keys styles */

.key input {
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: #D0D1D4;
}

.key_color input {
    background-color: rgb(19, 228, 0);
}

.key_result input {
    background-color: lightgreen;
}


